.Text {
    & > * {
        padding: 10px;
    }

    .mainTitle {
        color: var(--secondary-color);
        font: var(--font-l);
        font-weight: bold;
    }

    .title {
        color: var(--secondary-color);
        font: var(--font-l);
    }
}

.error {
    color: var(--alert-color);

    .title {
        color: var(--alert-color);
        font: var(--font-l);
    }
}