.Text {
    .mainTitle {
        color: var(--secondary-color);
        font: var(--font-l);
        font-weight: bold;
    }

    .title {
        color: var(--secondary-color);
        font: var(--font-l);
        text-transform: uppercase;
    }
}

.error {
    color: var(--alert-color);

    .title {
        color: var(--alert-color);
        font: var(--font-l);
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}