.clear {
    background: none;
    outline: none;
    border: none;
    display: flex;
    cursor: pointer;
    color: var(--bg-color);
}

.page-error {
    background: #970841;
    outline: none;
    border: none;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.sideBar {
    outline: none;
    border: none;
    height: 80px;
    width: 80px;
    font-size: 30px;
    display: flex;
    background: var(--secondary-color);
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
}