.SideBar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width-full);
    background: var(--inverted-bg-color);
    transition: width 0.2s;
    position: relative;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    a {
        display: flex;
        margin: auto 0;
        margin-bottom: 20px;
    }
}

.switchers {
    :first-child {
        margin-right: 10px;
    }

    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 90px;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.icon {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    fill: var(--bg-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        :first-child {
            margin-right: 0;
        }

        flex-direction: column;
    }

    .links {
        margin-left: 0;

        .icon {
            margin: auto;
        }

        a {
            display: flex;
            flex-direction: column;
            margin: auto;
            margin-bottom: 20px;
        }
    }
}

.sideBarBtn {
    width: 100%;
    position: absolute;
    bottom: 0;
}