.PageError {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: var(--inverted-bg-color);

    h1 {
        margin-bottom: 25px;
        color: var(--bg-color);
    }
}