.selectWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    span {
        width: 30%;
        color: var(--secondary-color);
    }

    select {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--primary-color);
        margin-left: 8px;
        background-color: var(--bg-color);
        color: var(--primary-color);
    }
}