.app_dark_theme {
    --bg-color: #000;
    --inverted-bg-color: #fff;
    --primary-color: #fff;
    --secondary-color: #405dfd;
    --alert-color: #ff0266;
    --skeleton-color: #405dfd;
    --skeleton-shadow: rgba(500 500 500 / 20%);
    --code-bg: #494949;
    --card-bg-color: #494949;
}