.app_dark_theme {
    --bg-color: #151618;
    --inverted-bg-color: #3d4679;
    --primary-color: #d1cbe4;
    --secondary-color: #405dfd;
    --alert-color: #ff0266;
    --skeleton-color: #405dfd;
    --skeleton-shadow: rgba(500 500 500 / 20%);
    --code-bg: #494949;
    --card-bg-color: #292e47;
}