.ArticlesPageFilters {
    margin: 20px;
}

.filtersWrapper {
    display: flex;
    justify-content: space-between;
}

.sort {
    justify-content: flex-start;
    width: fit-content;
    white-space: nowrap;

    span {
        width: 100%;
    }
}