.AppLink {
    color: var(--alert-color);
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        opacity: 0.7;
    }
}

.primary {
    color: var(--bg-color);
}

.secondary {
    color: var(--inverted-bg-color);
}